Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [ ]:
# loading the diabetes dataset to a pandas DataFrame
alzheimers_dataset = pd.read_csv('/content/alzheimer1.csv')

In [ ]:
# printing the first 5 rows of the dataset
alzheimers_dataset.head()

         Group M/F  Age  EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
0  Nondemented   M   87    14  2.0  27.0  0.0  1987  0.696  0.883
1  Nondemented   M   88    14  2.0  30.0  0.0  2004  0.681  0.876
2     Demented   M   75    12  NaN  23.0  0.5  1678  0.736  1.046
3     Demented   M   76    12  NaN  28.0  0.5  1738  0.713  1.010
4     Demented   M   80    12  NaN  22.0  0.5  1698  0.701  1.034

In [ ]:
# number of rows and Columns in this dataset
alzheimers_dataset.shape

(373, 10)

In [ ]:
# getting the statistical measures of the data
alzheimers_dataset.describe()

,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
count,373.000000,373.000000,354.000000,371.000000,373.000000,373.000000,373.000000,373.000000
mean,77.013405,14.597855,2.460452,27.342318,0.290885,1488.128686,0.729568,1.195461
std,7.640957,2.876339,1.134005,3.683244,0.374557,176.139286,0.037135,0.138092
min,60.000000,6.000000,1.000000,4.000000,0.000000,1106.000000,0.644000,0.876000
25%,71.000000,12.000000,2.000000,27.000000,0.000000,1357.000000,0.700000,1.099000
50%,77.000000,15.000000,2.000000,29.000000,0.000000,1470.000000,0.729000,1.194000
75%,82.000000,16.000000,3.000000,30.000000,0.500000,1597.000000,0.756000,1.293000
max,98.000000,23.000000,5.000000,30.000000,2.000000,2004.000000,0.837000,1.587000

In [ ]:
alzheimers_dataset['Group'].value_counts()

Nondemented    190
Demented       183
Name: Group, dtype: int64

In [ ]:
alzheimers_dataset.groupby('Group').mean()

,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
Group,,,,,,,,
Demented,76.967213,14.032787,2.536585,25.364641,0.587432,1480.47541,0.717803,1.200027
Nondemented,77.057895,15.142105,2.394737,29.226316,0.005263,1495.50000,0.740900,1.191063

In [ ]:
alzheimers_dataset['SES'].fillna(alzheimers_dataset['SES'].mode()[0], inplace=True)

In [ ]:
alzheimers_dataset['MMSE'].fillna(alzheimers_dataset['MMSE'].mode()[0], inplace=True)

In [ ]:
alzheimers_dataset.isnull().sum()

Group    0
M/F      0
Age      0
EDUC     0
SES      0
MMSE     0
CDR      0
eTIV     0
nWBV     0
ASF      0
dtype: int64

In [ ]:
alzheimers_dataset.replace({'M/F':{'M':0,'F':1}}, inplace=True)
alzheimers_dataset.replace({'Group':{'Demented':0,'Nondemented':1}}, inplace=True)

In [ ]:
# separating the data and labels
X =alzheimers_dataset.drop(columns = ['Group'], axis=1)
Y = alzheimers_dataset['Group']

In [ ]:
print(X)

     M/F  Age  EDUC  SES  MMSE  CDR  eTIV
0      0   87    14  2.0  27.0  0.0  1987
1      0   88    14  2.0  30.0  0.0  2004
2      0   75    12  2.0  23.0  0.5  1678
3      0   76    12  2.0  28.0  0.5  1738
4      0   80    12  2.0  22.0  0.5  1698
..   ...  ...   ...  ...   ...  ...   ...
368    0   82    16  1.0  28.0  0.5  1693
369    0   86    16  1.0  26.0  0.5  1688
370    1   61    13  2.0  30.0  0.0  1319
371    1   63    13  2.0  30.0  0.0  1327
372    1   65    13  2.0  30.0  0.0  1333

[373 rows x 7 columns]

In [ ]:
print(Y)

0      1
1      1
2      0
3      0
4      0
      ..
368    0
369    0
370    1
371    1
372    1
Name: Group, Length: 373, dtype: int64

Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(373, 7) (298, 7) (75, 7)

Training the Model

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [ ]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9496644295302014

In [ ]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9333333333333333

In [ ]:
input_data=(1,93,14,2,30,0,1272)
input_data_as_numpy_array=np.array(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
prediction=classifier.fit(X_train,Y_train).predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
  print('Demented')
else:
  print('Non demented')

[1]
Non demented

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Making a Predictive System

Saving the trained model

In [ ]:
import pickle

In [ ]:
filename = 'trained_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('trained_model.sav', 'rb'))

In [ ]:
input_data = (1,93,14,2,30,0,1272)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('Demented')
else:
  print('Non demented')

[1]
Non demented

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(